

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Jost";
    color:#373737;
}

.header-container {
    background-image: url('../images/header_photo.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.menu-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
    padding: 10px;
}
.header-container p {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    font-size: 48px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0%;
}

.body-container {
    padding: 50px;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.content-left {
    padding: 20px;
    margin: 5px;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.content-left p {
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0%;
    width: 60%;
}


.content-right {
    padding: 25px;
    margin: 5px;
    flex: 0 0 30%;
}

.info {
    font-size: 16px;
    line-height: 100%;
    font-style: medium italic;
    letter-spacing: 0%;
    margin-top: 0px;
    padding-bottom: 16px;;
}

.disclaimer {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    opacity: 0.4;
    padding-bottom: 24px;
    padding-top: 24px;
}

.content-right .booking-button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 60%;

}

.content-right .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 60%;
}

.services{
    background-image: url('../images/ServicesImage.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    height: 50px;
    text-indent: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.336);
}

.button-arrow {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.how-to-book{
    background-image: url('../images/HowToBookImage.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    height: 50px;
    text-indent: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.336);
}

.pricing{
    background-image: url('../images/PricingImage.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    height: 50px;
    text-indent: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.336);

}

.monthly-collection{
    background-image: url('../images/MonthlyCollectionImage.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    height: 50px;
    text-indent: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.336);
}

footer {
    border-top: 1px solid black;
    text-align: center;
    opacity: 0.6;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-container-booking{
    padding: 6.25em;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}


.payment-requirements{
    display: flex;
    flex-direction: column;

}

.forms{
    display: flex;
    flex-direction: row;
}

.square-link{
    border-top: #37373749 solid 1px;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    flex: 0 0 35%;
    text-align: left;
}
.booking-form{
    border-top: #37373749 solid 1px;
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    text-align: left;
}

.custom-request{
    border-top: #37373749 solid 1px;
    display: flex;
    flex-direction: column;
}

.nail-reference{
    border-top: #37373749 solid 1px;
    display: flex;
    flex-direction: column;

}

.brown-title{
    color: #997642;
}












/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .body-container {
        flex-direction: column;
    }
    
    .content-left,
    .content-right {
        flex: 0 0 100%;
        height: auto;
        min-height: 300px;
         display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }


}
